.App-logo {
  height: 50px;
  pointer-events: none;
}

.App-header {
    background-color: #282c34;
    height: 50px;
    font-size: 20px;
    color: white;
    text-align: left;
}
.App-header span{
    top: -17px;
    position: relative;
}

.App-link {
  color: #61dafb;
}

.App-header a {
    text-decoration: none;
    color: white;
}

.content {
    padding: 20px;
}

